{% extends 'base.html' %} {% block title %} {{g.user.username }}'s recipes {%
endblock %} {% block content %}
<nav class="navbar">
  <ul>
    <li>
      <a href="/"
        ><img
          class="logo"
          src="/static/images/Foodies-logos_transparent.png"
          alt="Foodies Logo"
      /></a>
    </li>
  </ul>
  <ul class="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/user/{{g.user.id}}">Find Recipe</a></li>
    <li><a href="/user/{{g.user.id}}/shoppinglist">Shopping List</a></li>
    <li><a href="/signout">Sign out</a></li>
  </ul>
</nav>
<h1 class="display-2 text-center text-uppercase">
  {{g.user.username}}'s Saved Recipes
</h1>
<main class="main-saved p-4">
  <div class="stored-illustration"></div>
  <div class="saved-recipes">
    {% for recipe in recipes %}
    <div class="card recipe_card" style="width: 25rem; height: 26rem">
      <img src="{{recipe.image}}" class="card-img-top" alt="..." />
      <div class="card-container card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        <div class="btnnist">
          <a href="/recipe/{{recipe.id}}" class="btn btn-primary px-3"
            >Details</a
          >
          <a
            href="/recipe/{{recipe.id}}/delete"
            class="btn btn-danger text-light px-3"
            >Delete</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
