{% extends 'base.html' %} {% block content %}

<nav class="navbar">
  <ul>
    <li>
      <a href=""
        ><img
          class="logo"
          src="/static/images/Foodies-logos_transparent.png"
          alt="Foodies Logo"
      /></a>
    </li>
  </ul>
  <ul class="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Shopping List</a></li>
    <li><a href="/signin">Collection</a></li>
  </ul>
</nav>
<main class="main">
  <div
    class="recipe-image"
    style="background-image: url({{recipe.image}})"
  ></div>
  <div class="summary">
    <h2>{{recipe['title']}}</h2>
    <div class="btn-box">
      <a href="" class="btn btn-lg btn-primary text-light text-center"
        >Add to collections</a
      >
      <a href="" class="btn btn-lg bg-success text-light text-center"
        >Create Shopping list</a
      >
    </div>

    <h3>Summary:</h3>
    <p class="fs-4">{{recipe['summary'] | safe}}</p>
  </div>

  <div class="ingredients">
    <h2>Ingredients:</h2>
    <ul>
      {% for ingredient in recipe.extendedIngredients %}
      <li class="fs-5">{{ ingredient.original }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="instructions">
    <h2>Instructions:</h2>
    <div class="fs-4">{{recipe["instructions"] | safe}}</div>
  </div>
</main>
{% endblock %}
