{% extends 'base.html' %} {% block title %}{{recipe.title}}{% endblock %} {%
block content %}
<nav class="navbar">
  <ul>
    <li>
      <a href="/"
        ><img
          class="logo"
          src="/static/images/Foodies-logos_transparent.png"
          alt="Foodies Logo"
      /></a>
    </li>
  </ul>
  <ul class="navigation">
    <li><a href="/user/{{g.user.id}}">Find recipe</a></li>
    <li><a href="/user/{{g.user.id}}/shoppinglist">Shopping List</a></li>
    <li><a href="/user/{{g.user.id}}/collection">Collection</a></li>
    <li><a href="/signout">Sign out</a></li>
  </ul>
</nav>
{% with messages = get_flashed_messages(with_categories=True) %} {% if messages
%} {% for category, message in messages %}
<div class="container-md col-md-4 bg-{{category}} p-3">
  <p class="text-center text-light fs-2">{{message}}</p>
</div>
{% endfor %} {% endif %} {% endwith %}
<main class="main">
  <div
    class="recipe-image"
    style="background-image: url({{recipe.image}}); background-size: cover; background-repeat: no-repeat;"
  ></div>
  <div class="summary">
    <h2 class="title">{{recipe['title'] | upper }}</h2>
    <div class="btn-box">
      <a
        href="/recipe/{{recipe_id}}/add"
        class="btn btn-lg btn-primary text-light text-center"
        >Add to collection</a
      >
    </div>

    <h3>Summary:</h3>
    <p class="summary-text fs-4">{{recipe['summary'] | safe}}</p>
  </div>

  <div class="ingredients">
    <h2>Ingredients:</h2>
    <ul>
      {% for ingredient in recipe.extendedIngredients %}
      <li class="fs-4">{{ ingredient.original }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="instructions">
    <h2>Instructions:</h2>
    <div class="fs-4">{{recipe["instructions"] | safe}}</div>
  </div>
</main>
{% endblock %}
