<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{g.user.username}} Shopping lists</title>
    <link rel="stylesheet" href="/static/app.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/c04c28872c.js"
      crossorigin="anonymous"
    ></script>

    <script defer src="/static/app.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li>
          <a href="/"
            ><img
              class="logo"
              src="/static/images/Foodies-logos_transparent.png"
              alt="Foodies Logo"
          /></a>
        </li>
      </ul>
      <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/user/{{g.user.id}}">Find Recipe</a></li>
        <li><a href="/user/{{g.user.id}}/collection">Collection</a></li>
        <li><a href="/signout">Sign out</a></li>
      </ul>
    </nav>
    <div>
      <div class="list-container">
        {% for recipe, items in recipe_items.items() %} {% if items %}
        <ul>
          <div class="list-card">
            <li class="recipe-name fs-2">{{recipe.title}}:</li>
            <a href="/recipe/{{recipe.id}}/delete_items"
              ><i
                class="cls-btn fa-sharp fa-solid fa-rectangle-xmark fa-2xl"
                style="color: #ff0000"
              ></i
            ></a>
            <ul class="item-list-card">
              {% for item in items %}
              <li class="shopping-list fs-4">
                <input type="checkbox" name="tobuy" class="check" />
                {{item}}
              </li>
              {% endfor %}
            </ul>
          </div>
        </ul>
        {% endif %}{% endfor %}
      </div>
    </div>
  </body>
</html>
