{% extends 'base.html' %} {% block content %}
<h1 class="display-1 text-center text-uppercase">Please Login to continue</h1>
{% for category,message in get_flashed_messages(with_categories=True) %}
<div class="message bg-success p-3 mx-auto w-50">
  <h4 class="text-center text-{{category}}">{{message}}</h4>
</div>
{% endfor %}
<div class="box">
  <div class="side-image"></div>
  <div class="form-container">
    <form class="signup-form" method="POST">
      {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
      'hidden' %}
      <div>
        {{field.label(class_="form-label fs-3")}} {{field(class_="form-control
        form-control-lg")}} {% for err in field.errors %}
        <span class="form-text text-danger">{{err}}</span>
        {% endfor %}
      </div>
      {% endfor %}
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
