{% extends 'base.html' %} {% block title %}{{user.username}}{% endblock %} {%
block content %}
<nav class="navbar">
  <ul>
    <li>
      <a href=""
        ><img
          class="logo"
          src="/static/images/Foodies-logos_transparent.png"
          alt="Foodies Logo"
      /></a>
    </li>
  </ul>
  <ul class="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Edit profile</a></li>
    <li><a href="/signin">Collection</a></li>
  </ul>
</nav>
<main class="main-container">
  <div class="left-sect">
    <div class="form-box">
      <label for="searchbar" class="from-label fs-5">Search:</label>
      <input
        class="form-control-lg"
        type="text"
        name="searchbar"
        id="searchbar"
        placeholder="type to search"
      />
    </div>
  </div>
  <div class="image-box">
    <div class="lower-sect"></div>
    <div class="upper-sect"></div>
  </div>
</main>
{% endblock %}
